<p fundoAmarelo>Texto com fundo amarelo.</p>

<button fundoAmarelo>Botão com fundo amarelo.</button>

<p highlightMouse>Texto com highlight quando passo o mouse.</p>


<p [highlight]="'green'" [defaultColor]="'grey'">Texto com highlight com cores customisadas.</p>

<h1>Diretiva Estrutura customizada - ngElse</h1>

<div *ngIf="mostrarCursos">
    Lista de cursos aqui.
</div>

<div *ngElse="mostrarCursos">
    Não existem cursos para serem mostrados.
</div>

<br>

<button (click)="onMostrarCursos()">Mostrar ou esconder cursos.</button>